<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title></title>
	@Styles.Render("~/Css/Main")
	@Scripts.Render("~/Scripts/modernizr")
</head>
<body>
	@RenderBody()
	@Scripts.Render("~/Scripts/Libraries")
	<script src="~/signalr/hubs"></script>
	@Scripts.Render("~/Scripts/Main")
	@RenderSection("scripts", false)
</body>
</html>
