@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <div class="container body-content">
        <form asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="navbar-right">
            <ul class="nav nav-pills">
                <li role="presentation" @(String.Compare(ViewBag.Section, "Home", true) == 0 ? "class=active" : "")><a href="~/">Home</a></li>
                <li role="presentation" @(String.Compare(ViewBag.Section, "Devices", true) == 0 ? "class=active" : "")><a href="~/Devices">Devices</a></li>
                @if (SignInManager.IsSignedIn(User))
                {
                    <li>
                        <a asp-controller="Manage" asp-action="Index" title="Manage">Hello @await UserManager.GetNameAsync(User)!</a>
                    </li>
                            <li>
                                <button type="submit" class="btn btn-link navbar-btn navbar-link">Log off</button>
                            </li>
                }
                else
                {

                    <li><a asp-controller="Account" asp-action="Login">Log in</a></li>
                }
            </ul>
        </form>
        @RenderBody()
    </div>

    <script src="//ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.4.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/knockout/3.4.0/knockout-min.js"></script>
    <script src="//ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/bootstrap.min.js"></script>
    <script src="~/ts/Site.js" asp-append-version="true"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
